<div>
  <section class="image">
    <img src="/assets/img/osoQuienSomos.png" alt="" />
  </section>
  <section class="about">
    <h2>Quienes somos?</h2>
    <p class="text1">
      
       Nacida el 6 de Marzo del 2024
       Crunchy Munch Fue la primera Repostería Oculta nacida en El Oriente Antioqueño con el ánimo de brindar una experiencia exclusiva e Internacional a sus clientes 
       
       
      
     
      
      
    </p>

    <p> Con Ingredientes de Máxima calidad, Y tecnicas Culiniarias Únicas buscamos cautivar el paladar de quienes se Aventuran a buscar los mejores sabores 
    </p>


    <p> Crunchy Munch no son solo galletas, Somos una Representación  de Calidad, Un movimiento que busca Subir el estándar de Calidad en el Dulce que te come.</p>
   
