<div>
  <section class="image">
    <img src="/assets/img/osoQuienSomos.png" alt="" />
  </section>
  <section class="about">
    <h2>Quienes somos?</h2>
    <p class="text1">
      Austin Agustín Santos (Harlem del Este, 23 de diciembre de 1985), conocido
      artísticamente como Arcángel, es un cantante y compositor estadounidense.3
      También es conocido por haber comenzado su carrera artística formando
      parte del dúo Arcángel & De la Ghetto.
    </p>
    <p class="text2">
      En 2023, la revista Rolling Stone lo describió como «uno de los artistas
      más influyentes del género urbano».5 Ese mismo año, la revista Billboard
      lo colocó en su lista de «50 mejores raperos de la historia de la música
      latina»
    </p>
  </section>
</div>
