<div class="panel">
  <div class="header">
    <h2>Panel de Administración</h2>
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </div>
  <div class="column">
    <button class="panel-button">PEDIDOS ACTIVOS</button>
    <button class="panel-button">OTRAS VENTAS</button>
    <button class="panel-button">ADMINISTRAR COOKIES</button>
  </div>
  <div class="column">
    <button class="panel-button">FINALIZADOS</button>
    <button class="panel-button">TOTAL VENTAS</button>
    <button class="panel-button">ADMINISTRAR CROOKIES</button>
  </div>
</div>