.panel {
  /* celeste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
    font-family: 'brownBeige', sans-serif;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .panel-button {
    background-color: #ff9ad1; /* rosado */
    font-family: 'brownBeige', sans-serif;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
  }
  
  .panel-button:hover {
    background-color: #f292c0;
  }
  