<div class="header">
  <h2>Panel de Administración</h2>
  <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
</div>
<article clas="panel-container">
  <button class="panel-button">PEDIDOS ACTIVOS</button>
  <button class="panel-button">PEDIDOS FINALIZADOS</button>
  <button routerLink="/admin/Crear productos" class="panel-button">Crear productos</button>
  <button routerLink="/admin/Crear toppings" class="panel-button">Crear toppings</button>
  <button routerLink="/admin/Crear iceCreams" class="panel-button">Crear helados</button>
</article>
