<section class="container">
  <h1>Términos y Condiciones</h1>
  
  <div class="scrollable-content">
    <div class="term-section">
      <h2>1. DOMICILIOS</h2>
      <div class="term-content">
        <p>
          <span class="term-item">1.1</span> PUEDE TARDAR DE 1 A 2 HORAS (O MENOS)
        </p>
        <p>
          <span class="term-item">1.2</span> EL TIEMPO DE ESPERA AL LLEGAR EL DOMICILIARIO SON 15 MINUTOS, SI PASA ESTE TIEMPO SE CANCELA EL DOMICILIO Y SE COBRA DE TODAS MANERAS LA TARIFA
        </p>
        <p>
          <span class="term-item">1.3</span> SI NO SE ENVIA LA UBICACION EXACTA PUEDE VERSE AFECTADO EL PRECIO FINAL DEL DOMICILIO
        </p>
      </div>
    </div>
    
    <div class="term-section">
      <h2>2. MÉTODOS DE PAGO</h2>
      <div class="term-content">
        <p>
          <span class="term-item">2.1</span> LOS PEDIDOS PAGOS TIENEN PRIORIDAD, TE INVITAMOS A RESERVAR TU PEDIDO CON TIEMPO
        </p>
        <p>
          <span class="term-item">2.2</span> ACEPTAMOS PAGOS EN EFECTIVO, TRANSFERENCIA Y CONTRAENTREGA (PIDE NUESTRO QR)
        </p>
        <p>
          <span class="term-item">2.3</span> CANCELAR TU PEDIDO TIENE UN COSTO DE 3.000 X EMPAQUES Y DEVOLUCIÓN
        </p>
      </div>
    </div>
    
    <div class="term-section">
      <h2>3. RECOGIDA</h2>
      <div class="term-content">
        <p>
          <span class="term-item">3.1</span> <span class="highlight">MUY IMPORTANTE:</span> SE PUNTUAL, SI PAGAS TU PEDIDO Y NO LO RECOGES EL DÍA QUE LO PEDISTE NO SE HACE DEVOLUCIÓN, NI DE DINERO, NI DE GALLETAS (SOLO ENTREGAMOS PRODUCTOS FRESCOS)
        </p>
        <p>
          <span class="term-item">3.2</span> SI NO HAS PAGADO TU PEDIDO, PUEDE LLEGAR A CANCELARSE SI SE AGOTAN LAS EXISTENCIAS DESPUÉS DE LA HORA ACORDADA
        </p>
      </div>
    </div>
  </div>
</section>