<section class="container">
  
      <h1>Terminos y Condiciones</h1>
      <p>TBryant Myers
        Hoy de nuevo te voy a ver (Anonimus, this is the remix)
        Si llaman pichea el cell (Anuel, Almighty)
        Estamos fumando marihuana
        Hoy serás mi esclava en el cuarto de un motel
        Voy a ver, estoy bien bellaco
        Quédate en pantis, modélame en tacos
        En lo que yo enrolo y desenmoño el saco
        Me quito el pantalón, por el boxer lo saco
        Tengo un par de retros me visto bien caco
        Te gusta en la cama como te maltrato
        Quieres que te lo meta a cada rato
        Cuando está sola jugamos al ratón y al gato
        Yo bajo sin peros yo soy el bombero
        Que te apaga el fuego en tu desespero
        Me gusta lamberte los dos agujeros
        Me gusta tu cara cuando entra entero
        La mejor que me lo ha hecho si te soy sincero
        Echa la cachispa en el cenicero
        La máquina que vibra y no es la del barbero
        Déjame descansar, ya terminamos el primero</p>
    
</section>
