<article class="Card">
    <div class="container1">
      <p class="order">Peanut butter cookie x1</p>
    </div>
    <div class="container2">
      <h1 class="number">pedido 2253</h1>
      <p class="address">Entregado en: Calle135 #51 -59a</p>
      <p class="payment">Medio de pago: efectivo</p>
      <h1 class="status">estado de tu pedido: en camino</h1>
    </div>
  
    <div>
      <img
        src="
      "
        alt=""
      />
    </div>
  </article>
  <article class="Card">
    <div class="container1">
      <p class="order">Peanut butter cookie x1</p>
    </div>
    <div class="container2">
      <h1 class="number">pedido 2253</h1>
      <p class="address">Entregado en: Calle135 #51 -59a</p>
      <p class="payment">Medio de pago: efectivo</p>
      <h1 class="status">estado de tu pedido: en camino</h1>
    </div>
  
    <div>
      <img
        src="
      "
        alt=""
      />
    </div>
  </article>
  <article class="Card">
    <div class="container1">
      <p class="order">Peanut butter cookie x1</p>
    </div>
    <div class="container2">
      <h1 class="number">pedido 2253</h1>
      <p class="address">Entregado en: Calle135 #51 -59a</p>
      <p class="payment">Medio de pago: efectivo</p>
      <h1 class="status">estado de tu pedido: en camino</h1>
    </div>
  
    <div>
      <img
        src="
      "
        alt=""
      />
    </div>
  </article>
 