.container{
display: grid;
grid-template-columns: auto  ;
grid-template-rows: auto ;
padding: 1.5%;

}

h1{
    font-family: "superReduce", sans-serif;
    color:white;
    font-weight: 100;
    font-size:50px;
    -webkit-text-stroke: 1.5px black; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

div{
    display:grid;
    grid-template-columns: 1fr 1fr;
}