<div class="carousel-container">
    <div class="carousel">
        <img src="../../../assets/img/Adobe Express - file (1).jpg" alt="Imagen 1">
        <img src="../../../assets/img/Adobe Express - file (2).jpg" alt="Imagen 2">
        <img src="../../../assets/img/Adobe Express - file (3).jpg" alt="Imagen 3">
        <img src="../../../assets/img/Adobe Express - file (4).jpg" alt="Imagen 4">
        <img src="../../../assets/img/Adobe Express - file (5).jpg" alt="Imagen 5">
    </div>
</div>

<div class="button-container">
    <button routerLink="/Cookie">cookies</button>
    <button routerLink="/Crookie">crookies</button>
    <button routerLink="/Milkshake">milshakes</button>
    <button routerLink="/Bebidas">bebidas</button>
</div>