
@font-face {
    font-family: 'brownBeige';
    src: url('./assets/fonts/Brown\ Beige.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'superReduce';
    src: url('./assets/fonts/Super\ Reduce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-weight:200
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #76B6F6;
     ;
}
