.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 1.5%;
  background-color: #fb9cd6;
  width: 45rem ;
  height: 10rem;
  border-radius: 35px;
  padding: 1%;
}
img {
  padding: 5px;

  height: 150px;
  border-radius: 25px;
  opacity: 100%;
}
.card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: scale(0.95);
}
p{
    font-family: "brownBeige", sans-serif;
    color:white;
    font-weight: 50;
    font-size:32px;
    padding: 1px;
    margin-top:20px;
    opacity: 100%;
    margin-left:12px;
  
}
